button[type="submit"]{
    background-color: #a2d2ff;
}

.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    
}

h2{
    text-align: center;
}

form{
    width: 90%;
}

input{
    width: 80%;
    padding: 1rem
}

